<img src={{product.image}} alt={{product.cellPhone}} />
<h1>{{product.cellPhone}}</h1>
<p><strong>RAM:</strong> {{product.ram}}</p>
<p><strong>Armazenamento:</strong> {{product.storage}}</p>
<p><strong>Câmera:</strong> {{product.camera}}
