{{#each cellPhones}}
  <ul>
    <li>
      <img src={{image}} />
      <h2>{{cellPhone}}</h2>
      <p><strong>RAM:</strong> {{ram}}</p>
      <p><strong>Armazenamento:</strong> {{storage}}</p>
      <p><strong>Câmera:</strong> {{camera}}</p>
    </li>
    <button><a href={{link}}>Conhecer</a></button>
  </ul>
{{/each}}